<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Bienvenidos</h1>

  <h2>
    Inscribete o Firmate para Jugar!
  </h2>

  <%= link_to "Inscribete!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("soccer-ball.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>